# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/chasoulu/svm.chasouluix.my.id"
PassengerBaseURI "/"
PassengerPython "/home/chasoulu/virtualenv/svm.chasouluix.my.id/3.9/bin/python"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Set environment variables
SetEnv OPENBLAS_NUM_THREADS 1
SetEnv MKL_NUM_THREADS 1
SetEnv BLAS_NUM_THREADS 1
SetEnv OMP_NUM_THREADS 1

# Increase limits
<IfModule mod_php.c>
    php_value memory_limit 512M
    php_value max_execution_time 300
</IfModule>

# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION BEGIN
<IfModule Litespeed>
</IfModule>
# DO NOT REMOVE OR MODIFY. CLOUDLINUX ENV VARS CONFIGURATION END